alias be="bundle exec "
alias gut="git"
alias gti="git"
# alias l="ls -lha"
alias lsort="echo -n '// Sorted on last modified (use -f to unsort)\n' && ls -lhatTF"
# Run in the branch you want to rebase
alias rebasemaster="git fetch origin master && git rebase origin/master"
