[alias]
	s = status
	co = checkout
	ci = commit
	l = log
	b = branch
	wip = commit -am "wip"
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[user]
	name = Joel Larsson
	email = joellarsson@sent.at
	signingkey = 12E2955C043163BF
[push]
	default = upstream
[credential]
	helper = cache
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[url "git@github.com:"]
	insteadOf = https://github.com/
